# Virtualenv files
env/

# Installed libraries
lib/

# idea
.idea/

# Python compiled
*.pyc

# API keys
loader_app/cartodb_apikey.py
loader_app/gcs_apikey.py

# Management scripts
launch.sh
deploy.sh

# JSON files
*.json
