# Uploaded files
loader_app/uploads/

# Virtualenv files
env/

# Installed libraries
lib/

# Python compiled
*.pyc

# CartoDB api key
cartodb_apikey.py

# IDE
.idea/

# Management scripts
launch.sh
deploy.sh
