{% extends "base.html" %}
{% block content %}

<div class="container">
    
    <div class="row">
        <div class="col-xs-6">
            <h2>{{ title }}</h2>
        </div>
        
        {% if entries %}
        
        <div class="col-xs-6">
            <div class="btn-toolbar pull-right" role="toolbar">
                
                <!-- all/species toggle -->
                <div id="speciesbuttons" class="btn-group" role="group">
                    <input type="button" id="allspeciesfield" class="btn btn-primary" disabled value="All species">

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" value="Single species">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="allspecies">All species</a></li>
                            {% for i in species %}
                            <li><a id="{{i|replace(" ", "_")}}">{{ i }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- annotate button -->
                <div role="group" class="btn-group" data-toggle="buttons">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#annotateModal">
                        Annotate
                    </button>
                </div>

                <!-- list/map switch -->
                <div role="group" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active" onclick="$('#mapPanel').show(); $('#listPanel').hide(); $('#speciesbuttons').show();">
                        <input type="radio" name="view" id="mapView" autocomplete="off">Map
                    </label>
                    <label class="btn btn-primary" onclick="$('#mapPanel').hide(); $('#listPanel').show(); $('#speciesbuttons').hide();">
                        <input type="radio" name="view" id="listView" autocomplete="off" checked>List
                    </label>
                </div>

            </div>
        </div>
        {% endif %}
        
    </div>

{% if entries %}
        
    <div id="listPanel" hidden>

        <table class="table table-striped table-bordered table-hover" id="recordsTable" data-sort-name="scientificname">
            <thead>
                <tr>
                    <th>ID</th>
                    <th data-field="scientificname" data-sortable="true">Scientific Name</th>
                    <th>Coordinates</th>
                    <th>Datum</th>
                    <th>Uncertainty</th>
                    <th>Event Date</th>
                    <th>Recorded By</th>
                    {% for extra in entries[0]['extrafields'] %}
                    <th>{{ extra }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.cartodb_id }}</td>
                    <td>{{ entry.scientificname }}</td>
                    <td>{{ entry.decimallatitude }}, {{ entry.decimallongitude }}</td>
                    <td>{{ entry.geodeticdatum }}</td>
                    <td>{{ entry.coordinateuncertaintyinmeters }}</td>
                    <td>{{ entry.eventdate }}</td>
                    <td>{{ entry.recordedby }}</td>
                    {% for extra in entry['extrafields'] %}
                    <td>{{ entry.extrafields[extra] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    
    <div id="mapPanel" class="active">
        <style>
            #map_canvas {height: 650px; }
            .legend {
                line-height: 18px;
                color: #555;
                background-color: #FFF;
                opacity: 0.8;
            }
            .legend i {
                width: 18px;
                height: 18px;
                float: left;
                margin-right: 8px;
                opacity: 0.7;
            }
        </style>
        <div id="map_canvas" class="well"></div>
        
        <script>

            var selectedSpecies = "";

            var DEFAULT_CARTOCSS = "";
            DEFAULT_CARTOCSS += "#layer {";
            DEFAULT_CARTOCSS += "   marker-fill-opacity: 0.7;";
            DEFAULT_CARTOCSS += "   marker-line-color: #333333;";
            DEFAULT_CARTOCSS += "   marker-line-width: 1.5;";
            DEFAULT_CARTOCSS += "   marker-line-opacity: 0.8;";
            DEFAULT_CARTOCSS += "   marker-placement: point;";
            DEFAULT_CARTOCSS += "   marker-type: ellipse;";
            DEFAULT_CARTOCSS += "   marker-width: 10;";
            DEFAULT_CARTOCSS += "   marker-allow-overlap: true;";
            DEFAULT_CARTOCSS += "}";

            var DEFAULT_UNCERT_CARTOCSS = "";
            DEFAULT_UNCERT_CARTOCSS += "#layer {";
            DEFAULT_UNCERT_CARTOCSS += "  polygon-fill: #F84F40;";
            DEFAULT_UNCERT_CARTOCSS += "  polygon-opacity: 0.5;";
            DEFAULT_UNCERT_CARTOCSS += "  polygon-comp-op: darken;";
            DEFAULT_UNCERT_CARTOCSS += "  line-color: #FFF;";
            DEFAULT_UNCERT_CARTOCSS += "  line-width: 2;";
            DEFAULT_UNCERT_CARTOCSS += "  line-opacity: 0.8;";
            DEFAULT_UNCERT_CARTOCSS += "}";

            var stringToColour = function(str) {
                // str to hash
                for (var i = 0, hash = 0; i < str.length; hash = str.charCodeAt(i++) + ((hash << 5) - hash));
                // int/hash to hex
                for (var i = 0, colour = "#"; i < 3; colour += ("00" + ((hash >> i++ * 8) & 0xFF).toString(16)).slice(-2));
                return colour;
            }
            
            var createMapConfig = function(species) {
                var layers = [];
                var species_layer_id = 0;
                var species_layer_sql = "";
                var species_uncert_layer_sql = "";
                var colour_list = "";

                if (species.length == 1) {
                    selectedSpecies = species[0];
                    species_layer_id = 1;
                    species_layer_sql = "select * from point_uploads where datasetid='{{ datasetid }}' and scientificname='"+species[0]+"'";
                    species_uncert_layer_sql = "SELECT cartodb_id, ST_Buffer(tt.the_geom_webmercator, tt.uncert) as the_geom_webmercator FROM ( SELECT COALESCE(coordinateuncertaintyinmeters, 5000) as uncert, * FROM point_uploads WHERE datasetid = '{{ datasetid }}' and scientificname='"+species[0]+"' ) tt";
                    colour_list = "#layer{marker-fill: "+stringToColour(species[0])+";}";
                    layers[0] = {
                        "type": "cartodb",
                        "options": {
                          "cartocss_version": "2.1.1",
                          "cartocss": "#layer{polygon-fill:#448833;polygon-opacity: 0.5;line-opacity:1;line-width:1;line-color: #448833;marker-fill-opacity: 0.5;marker-line-color: #448833;marker-line-width: 2;marker-line-opacity: 1;marker-placement: point;marker-type: ellipse;marker-width: 15;marker-fill: #448833;marker-allow-overlap: true;}",
                          "sql": "SELECT * FROM get_species_tile('"+species[0]+"')"
                        }
                      }
                } else {
                    species_layer_sql = "select row_number() over() as id, ST_Union(the_geom_webmercator) as the_geom_webmercator FROM point_uploads WHERE datasetid = '{{ datasetid }}' GROUP BY  scientificname";
                    species_uncert_layer_sql = "SELECT cartodb_id, ST_Buffer(tt.the_geom_webmercator, tt.uncert) as the_geom_webmercator FROM ( SELECT COALESCE(coordinateuncertaintyinmeters, 5000) as uncert, * FROM point_uploads WHERE datasetid = '{{ datasetid }}' ) tt";
                    colour_list = "#layer[id=1] {marker-fill: "+stringToColour(species[0])+";}";
                    for (var i=1; i<species.length; i++) {
                        colour_list += "#layer[id="+(i+1)+"] {marker-fill: "+stringToColour(species[i])+";}";
                    }
                }

                layers[species_layer_id] = {
                    "type": "cartodb",
                    "options": {
                      "cartocss_version": "2.1.1",
                      "cartocss": DEFAULT_UNCERT_CARTOCSS,
                      "sql": species_uncert_layer_sql
                    }
                  }
                layers[species_layer_id+1] = {
                    "type": "cartodb",
                    "options": {
                      "cartocss_version": "2.1.1",
                      "cartocss": DEFAULT_CARTOCSS + colour_list,
                      "sql": species_layer_sql
                    }
                  }

                var mapconfig = {
                  "version": "1.0.1",
                  "layers": layers
                }
                return mapconfig;
            }
            
            function getColor(d) {
                for (var i=0; i<species.length; i++) {
                    if (d==species[i]) {
                        var color = stringToColour(species[i])
                    }
                }
                return color
            }

            
            function createLegend(map, species) {
                var legend = L.control({position: 'topright'});
                
                legend.onAdd = function (map) {

                    var div = L.DomUtil.create('div', 'info legend'),
                        grades = [],
                        labels = species;

                    // loop through our density intervals and generate a label with a colored square for each interval
                    for (var i = 0; i < labels.length; i++) {
                        div.innerHTML +=
                            '<i style="background:' + getColor(labels[i]) + '"></i> ' + labels[i] + '&nbsp <br>';
                    }

                    return div;
                };

                legend.addTo(map);
            }
            
            var createMap = function(species) {
                
                // create map
                var map = new L.map('map_canvas').setView({{centroid}}, 3);
                
                // add base layer
                // 'https://dnv9my2eseobd.cloudfront.net/v3/cartodb.map-4xtxp73f/{z}/{x}/{y}.png'
                L.tileLayer('http://a.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    attribution: '&copy; <a href="http://www.mol.org">Map of Life</a>, 2014'
                }).addTo(map);
                
                // define mapconfig for ad-hoc anonymous map
                var mapconfig = createMapConfig(species);
                
                // initialize and attach ad-hoc map
                $.ajax({
                  type: 'POST',
                  dataType: 'json',
                  contentType: 'application/json',
                  url: 'https://mol.cartodb.com/api/v1/map',
                  data: JSON.stringify(mapconfig),
                  success: function(data) {
                    var templateUrl = 'https://mol.cartodb.com/api/v1/map/' + data.layergroupid + '/{z}/{x}/{y}.png'
                    L.tileLayer(templateUrl, {
                        maxZoom: 18
                    }).addTo(map)
                  }
                });

                createLegend(map, species);
                
                return map;
            }
            
            var resetMap = function(map, species) {
                selectedSpecies = "";
                map.remove();
                var map = createMap(species);
                return map;
            }
            
            {% for i in species %}
            $('#{{i|replace(" ", "_")}}').click(function() {
                species = ['{{i}}'];
                $("#allspeciesfield").val('{{i}}');
                map = resetMap(map, species);
                $('#allspecies').removeClass('active');
                return map;
            });
            {% endfor %}
            
            $('#allspecies').click(function() {
                species = [
                    {% for i in species %}'{{ i }}',
                    {% endfor %}
                ];
                $("#allspeciesfield").val('All species');
                map = resetMap(map, species);
            });
            
            
            species = [
                {% for i in species %}'{{ i }}',
                {% endfor %}
            ];
            
            var map = createMap(species);

        </script>

    </div>

{% else %}

    <div>
        <p>No map available</p>
    </div>

{% endif %}
<script>
$(document).ready(function() {
    $('#recordsTable').dataTable();

    // annotations
    $('#submitAnnotation').on( 'click', function (event) {
        var form = $("#annotateModal").find('form');
        var annotateURL = 'https://api.mol.org/annotate?' + $( form ).serialize();
        if (selectedSpecies != "") {
            annotateURL += "&scientificname=" + selectedSpecies;
        }

        $.get( annotateURL );
        $('#annotateModal').modal('hide')
    });

} );
</script>
</div>


<!-- Annotate Modal -->
<div class="modal fade" id="annotateModal" tabindex="-1" role="dialog" aria-labelledby="annotateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="annotateModalLabel">Annotate</h4>
      </div>
      <div class="modal-body">
        <form>
            <input type="hidden" name="datasetid" value="{{ datasetid }}" />
            <!-- annotation datasets -->
          <div class="form-group">
            <label class="control-label">Annotation dataset</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="annotations" value="MCD43A4_EVI">
                MCD43A4_EVI - MODIS 16day EVI (500m)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="annotations" value="MOD11A2">
                MOD11A2 - MODIS 8-day LST (1000m)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="annotations" value="MODCF">
                MODCF - MODIS Monthly Average Cloud Frequency (1000m)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="annotations" value="worldclim_tmean">
                worldclim_tmean - WorldClim Monthly Average Temperature (1000m)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="annotations" value="worldclim_prec">
                worldclim_prec - WorldClim Monthly Total Precipitation (1000m)
              </label>
            </div>
          </div>

            <!-- -->
            <div class="form-group">
                <label class="control-label">Spatial grain</label>
                <div>
                <label class="checkbox-inline">
                    <input type="checkbox" name="spatial_grain" value="1000"> 1km
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="spatial_grain" value="2000"> 2km
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="spatial_grain" value="4000"> 4km
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="spatial_grain" value="8000"> 8km
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="spatial_grain" value="16000"> 16km
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="spatial_grain" value="32000"> 32km
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="spatial_grain" value="64000"> 64km
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="spatial_grain" value="128000   "> 128km
                </label>
                </div>
            </div>

            <!-- buffer -->
          <div class="form-group">
            <label for="annotation-buffer" class="control-label">Buffer: 1km (default)</label>
            <!-- <textarea class="form-control" id="annotation-buffer"></textarea> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="submitAnnotation">Annotate</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
