<!--
    <div class="footer">
        <p><a href="https://mol.org/">&copy; MOL 2014</a></p>
    </div>
-->
<!--<div class="footer">
    <div class="footer_links">-->

<footer role="contentinfo">
    <div class="region region-footer">
        <section id="block-views-recent-blog-posts-block-2"
                 class="block block-views footer-blog-posts clearfix">


            <div class="content">
                <section class="article-list blog">
                    <div class="view-header">
                        <h2><a href="https://mol.org/news/mol-blog">Latest Blog &amp; News</a></h2></div>


                    <article>
                        <h4><a href="https://mol.org/content/map-life-preview-how-evaluate-species-conservation-google-earth-engine">Map of Life: A preview of how to evaluate species conservation with Google Earth Engine</a></h4>
                        <em class="date"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2015-01-08T00:00:00-05:00">January 8, 2015</span></em>
                    </article>
                    <article>
                        <h4><a href="https://mol.org/content/mapmonday-biodiversity-map-shows-hemorrhaging-species">MapMonday: Biodiversity Map Shows Hemorrhaging of Species</a></h4>
                        <em class="date"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2014-12-22T00:00:00-05:00">December 22, 2014</span></em>
                    </article>


                </section>
            </div>
        </section>
        <section id="block-menu-block-4" class="block block-menu-block footer-main-menu clearfix">


            <div class="content">
                <div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-0 menu-level-1">
                    <ul class="menu">
                        <li class="first leaf menu-mlid-940"><a href="https://map.mol.org" title="">Explore the
                            Map</a></li>
                        <li class="expanded menu-mlid-954"><a href="https://mol.org/about">About MOL</a>
                            <ul class="menu">
                                <li class="first leaf menu-mlid-879"><a href="https://mol.org/about/governance">Governance</a>
                                </li>
                                <li class="leaf menu-mlid-933"><a href="https://mol.org/about/team">Team</a></li>
                                <li class="leaf menu-mlid-927"><a
                                        href="https://mol.org/about/partnerships">Partnerships</a>
                                </li>
                                <li class="last leaf menu-mlid-942"><a href="https://mol.org/about/data-stats">Data Stats</a>
                                </li>
                            </ul>
                        </li>
                        <li class="expanded menu-mlid-943"><a href="https://mol.org/news">News</a>
                            <ul class="menu">
                                <li class="first leaf menu-mlid-958"><a href="https://mol.org/news/mol-press"
                                                                        title="Listing of all MoL Press articles">Press</a>
                                </li>
                                <li class="last leaf has-children menu-mlid-945"><a href="https://mol.org/news/blog">Blog</a>
                                </li>
                            </ul>
                        </li>
                        <li class="last expanded menu-mlid-946"><a href="https://mol.org/help">Help</a>
                            <ul class="menu">
                                <li class="first last leaf menu-mlid-947"><a
                                        href="https://mol.org/help/videos">Videos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="block-block-3" class="block block-block meta">


            <div class="content">
                <p>
                    <a href="https://github.com/MapOfLife"><i class="icon icon-github"></i></a>
                    <a href="https://www.facebook.com/mappinglife"><i class="icon icon-facebook-sign"></i></a>
                    <a href="https://www.google.com/+MolOrg"><i class="icon icon-google-plus-sign"></i></a> &copy;2015
                    MOL. All rights reserved.</p>
            </div>
        </section>
        <section id="block-nice-menus-3" class="block block-nice-menus footer-menu">


            <div class="content">
                <ul class="nice-menu nice-menu-down nice-menu-menu-footer-links" id="nice-menu-3">
                    <li class="menu-1086 menu-path-node-6878 first odd "><a href="https://mol.org/about/partnerships"
                                                                            title="">Supporters</a>
                    </li>
                    <li class="menu-934 menu-path-node-6881  even last"><a href="https://mol.org/content/feedback">Feedback</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</footer>
<!--
    </div>
</div>-->
