<header>
    <figure class="logo">
        <a href="https://www.mol.org"><img src="https://species.mol.org/app/img/logo.png" alt="Map of Life"/></a>
    </figure>
    <nav class="main_navigation hidden-xxxs">
        <ul class="menu">
            <li class="tab">
                <a href="https://species.mol.org/info">
                    <i class="fa fa-info"></i>Species Info</a>
            </li>
            <li class="tab">
                <a href="https://map.mol.org/maps">
                    <i class="fa fa-map-marker"></i>Map a Species</a>
            </li>
            <li class="tab">
                <a href="https://map.mol.org/lists">
                    <i class="fa fa-list-ol icon"></i>Species Lists by Location</a>
            </li>
            <li class="hidden-xxs">
                <a href="https://www.mol.org/about">About MOL</a>
            </li>
            <li class="hidden-xxs">
                <a href="https://www.mol.org/news">News</a>
            </li>
            <li class="hidden-xxs">
                <a href="https://www.mol.org/help">Help</a>
            </li>
        </ul>
    </nav>
</header>


<div class="navigation">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-right" id="navbar" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">Brand</a> -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse="isCollapsed">
                    <ul class="nav navbar-nav">
                        {% if g.get('user', None) %}
                        <li><a href="/">Upload</a></li>
                        <li><a href="/datasets">Datasets</a></li>
                        <li><a href="https://auth.mol.org/dashboard">Dashboard</a></li>
                        <li><a href="https://auth.mol.org/profile">Profile</a></li>
                        <li><a href="https://auth.mol.org/logout">Logout</a></li>
                        {% else %}
                        <li><a href="https://auth.mol.org/login?next=%2Fdashboard">Login</a></li>
                        <li><a href="https://auth.mol.org/register?next=%2Fdashboard">Register</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav visible-xxxs">
                        <li>
                            <a href="https://species.mol.org/info">
                                <i class="fa fa-info"></i> Species Info</a>
                        </li>
                        <li>
                            <a href="https://map.mol.org/maps">
                                <i class="fa fa-map-marker"></i> Map a Species</a>
                        </li>
                        <li>
                            <a href="https://map.mol.org/lists">
                                <i class="fa fa-list-ol icon"></i> Species Lists by Location</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav visible-xxs">
                        <li>
                            <a href="https://www.mol.org/about">About MOL</a>
                        </li>
                        <li>
                            <a href="https://www.mol.org/news">News</a>
                        </li>
                        <li>
                            <a href="https://www.mol.org/help">Help</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>