{% extends "base.html" %}
{% block content %}

<h3>Align session headers</h3>
<p>These are the minimum required fields. Your file should have these values in all the records. You can also specify a "default" value, in case your file is missing any of these fields but there is a common value for all the records. Please, select wich of the fields in your file matches the specified term or fill in a default value.</p>

<form action="" ng-controller="HeaderController as headerCtrl" method="POST" name="headerForm" id="headerForm" ng-submit="headerCtrl.checkFields()" novalidate>

{% for field, type in {'scientificName': 'text', 'decimalLatitude': 'number', 'decimalLongitude': 'number', 'eventDate': 'date', 'recordedBy': 'text'}.iteritems() | sort%}
<!-- {{field}} -->
<div class="row">
    <div class="form-group col-md-6 col-xs-12" id="{{field}}Select">    
        <label for="{{field}}" class="control-label">{{field}}</label>
        <select class="form-control" ng-model="headerCtrl.headers.{{field}}" id="{{field}}" name="{{field}}">
        {% for header in session['file_headers'] %}
            <option value="{{header}}">{{header}}</option>
        {% endfor %}
        </select>
    </div>
    <div class=" form-group col-md-6 col-xs-12" id="{{field}}DefaultInput">
        <label for="{{field}}Default" class="control-label col-md-12 hidden-xs hidden-sm">&nbsp</label>
        <input type="{{type}}" class="form-control" ng-model="headerCtrl.headers.{{field}}Default" id="{{field}}Default" name="{{field}}Default" placeholder="Default value for {{field}}, {{type}}{%if type=='date'%}, YYYY-MM-DD format{% elif field=='decimalLatitude'%} between -90 and 90{% elif field=='decimalLongitude'%} between -180 and 180{%endif%}"{%if field=='decimalLatitude'%}min="-90" max="90"{%endif%}{%if field=='decimalLongitude'%}min="-180" max="180"{%endif%}>
    </div>
</div>
{% endfor %}


<div class="alert alert-danger" id="warningMessage" ng-show="headerCtrl.warning" >
    {[{ headerCtrl.warning }]}
</div>

<input class="btn btn-primary" type="submit" value="Let's go!" ng-disabled="headerForm.$invalid">
</form>

{% endblock %}
