{% extends "base.html" %}
{% block content %}
<div>
   
    <h3>Frequently Asked Questions (FAQ)</h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How should I prepare the file for upload?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>The file must have one of the following extensions: CSV, TXT or TSV.The first row must contain the headers, and the rest of the file must contain a single record per row (with newline characters separating rows) and fields must be separated with one of the following characters (only one in a file): semi-colon (;), comma (,) or tab. Here’s an example of a comma separated file:</p>
        <i>File Name: myDataset.csv</i>
        <pre>Header1,Header2,Header3
Record1Field1,Record1Field2,Record1Field3
Record2Field1,Record2Field2,Record2Field3</pre>
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          What are the mandatory fields a file must have?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>
        None of the fields is purely mandatory, in the sense that you can specify default values (values that will be applied to all records) for every field. However, there is a set of fields that must either be present in the file or have a default value: scientific name, latitude, longitude, coordinate uncertainty, observation date and observer name or id.</p>
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          What is the best format for the mandatory fields? 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>In order to maximise the integration with the rest of the MOL infrastructure, we recommend you to prepare the mandatory fields in the way described below:</p>
        <ul>
            <li>Scientific name should have a properly built binomial for the taxon</li>
            <li>Coordinates should be stored in decimal degree format</li>
            <li>Uncertainty should be stored as a single number, representing meters</li>
            <li>Observation date and time should comply with the ISO 8601 standard</li>
        </ul>
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          My file does not have one (or more) of the mandatory fields, but a common value can be applied to all records. Do I have to create a column just for that? 
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
          <p><strong>No, you don't have to!</strong> You can specify that value in the corresponding “default” field. The tool will create the column for you, populating every record with the specified value.</p>
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          Some of my records are missing a value in a mandatory field because a default value can be applied. Do I have to fill these empty fields?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
          <p><strong>No, you don't have to!</strong> You can put that default value in the “default” field and it will be applied only to empty fields. It will not overwrite any existing information, just fill the blanks.</p>
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          After aligning the headers, I have been redirected to the main page with a warning message. What’s wrong?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
          <p>That means the parser found quality issues in your dataset. There are many possible causes, and you will be provided a link with a list of all the problems in your record/s. Most likely, it will be a type mismatch (e.g., putting letters in numeric fields like uncertainty, or putting coordinates in formats other than decimal degrees). You will need to fix those to be able to continue. See the FAQ “What is the best format for the mandatory fields?” for information on how to prepare the content of the fields.</p>
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
          What are the mandatory fields in the metadata form?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
          <p>Just a few of them, and all have the word “Required” next to them. We encourage you to fill all fields, but only these are actually required:</p>
        <ul>
            <li>Title of the dataset</li>
            <li>Abstract of the dataset</li>
            <li>Creator of the dataset</li>
            <li>Creator of the metadata</li>
            <li>Geodetic Datum (actually, a default value of WGS84 is applied if you leave this empty)</li>
        </ul>
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
          I have filled every form with correct values but I keep getting an “Opps! There seems to be an issue with your request” error after sending the metadata form. What’s going on?
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
          <p>
          Lately we have been experiencing difficulties with a (different) third-party service that registers the uploaded information. Unfortunately, if you have filled everything correctly and still receive this error, your data could not be uploaded and you will have to wait a few minutes and try again. If after waiting a couple hours it still doesn't work, please send us an email! You can find contact information on the <a href="https://mol.org/about/team" target="_blank">team page</a>. We are really sorry for this inconvenience.
          </p>
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
          The upload went smoothly, but I cannot see a map of the records. What's wrong?
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
          <p>Visualizing the uploaded points on a map is a heavy process that gets heavier as the dataset grows. Most of the times it is just a matter of patience, but there might be some cases where there is actually something wrong. Check the uploaded records for quality issues (mainly strange characters in the scientific name field) and correct any suspicious value. Then, delete and re-upload the dataset. If it is not fixed and you are sure your data are right, please send us an email with the URL to your dataset map and we will contact you shortly.</p>
      </div>
    </div>
  </div>
  
  
</div>

</div>
{% endblock %}
