{% extends "base.html" %}
{% block content %}

    <div id="main-form" name="main-form" class="center-block">
        <strong>Welcome to the observation loader, blah blah...</strong>
        
        <form id="fileUpload" name="fileUpload" action="/headers_selector" method="POST" enctype="multipart/form-data">
        
        <p>Steps for the correct upload of observation data:</p>
        
        <ol>
            <li>Download the <a href="./spreadsheet_template">spreadsheet template</a></li>
            <li>Fill it out. You can find some information about each field <a href="/help">here</a>, if you need it</li>
            <li>Save the spreadsheet as a csv file</li>
            <li>Upload the spreadsheet with the button below</li>
        </ol>
        <p>You can also upload the data in your own format, as long as it has the following fields (or default values for them):</p>
        <ul>
            <li>Scientific Name</li>
            <li>Latitude and Longitude, in <a href="http://en.wikipedia.org/wiki/Decimal_degrees" target="_blank">decimal degrees</a></li>
            <li>Observation Date</li>
            <li>Collector's name</li>
        </ul>
        
        <hr>
        <!-- File Upload form -->
        
        <div>
            <div class="form-group">
                <label for="file">Select your csv file</label>
                <input type="file" id="file" name="file">
            </div>
            <div class="form-group">
                <input type="checkbox" name="useTemplate">
                <label for="useTemplate">Check this box if you used our template (see above)</label></p>
            </div>
            <input class="btn btn-primary" type="submit" value="Upload">
        </div>
        </form>
    </div>


<!-- PARSING RESULTS MODAL -->
<div class="modal fade" id="parsingModal" tabindex="-1" role="dialog" aria-labelledby="parsingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="parsingModalLabel">The following issues were found processing your file</h4>
      </div>
      <div class="modal-body">
        Please correct the following errors and start over.
        <ul>
        {% for i in errors: %}
          <li>{{i}}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
