{% extends "base.html" %}
{% block content %}

<small>Overall progress</small>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
    <span class="sr-only">75% Complete</span>
  </div>
</div>

<h3>Metadata</h3>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#instructionsModal">
  Show instructions
</button>

        <form action="/upload" method="POST" name="metadataForm" ng-controller="FormController as formCtrl" novalidate>
            <input type="hidden" name="origin" value="metadata">
                <div class="col-xs-12">&nbsp</div>
            <!-- Publicly available -->
            <div class="form-group col-md-12">
                <label for="public" class="control-label">Would you like the data set to be publicly available?</label>
                <div>
                    <input type="checkbox" id="public" name="public" ng-model="formCtrl.formData.public" ng-checked="1">
                    <span class="help-block">Required. Mark the checkbox if you want to make the data set available in the public domain.</span>
                </div>
            </div>
            
            <!-- Title -->
            <div class="form-group col-md-12">
                <label for="title" class="control-label">Title of the dataset/project</label>
                <div>
                    <input type="text" class="form-control" id="title" name="title" ng-model="formCtrl.formData.title" placeholder="Mammals of Africa" required>
                    <span class="help-block">Required.</span>
                </div>
            </div>
            
            <!-- Abstract -->
            <div class="form-group col-md-12">
                <label for="abstract" class="control-label">Abstract of the dataset/project</label>
                <div>
                    <textarea class="form-control" id="abstract" name="abstract" ng-model="formCtrl.formData.abstract" placeholder="A list of all mammal observations in..." required></textarea>
                    <span class="help-block">Required.</span>
                </div>
            </div>
            
            <!-- Resource creator -->
            <div class="form-group">
                <div class="col-md-6">
                   <label for="resource_creator_email">Creator of the dataset: email</label>
                   <input type="email" class="form-control" id="resource_creator_email" name="resource_creator_email" ng-model="formCtrl.formData.resource_creator_email" placeholder="john@smith.com" required>
                   <span class="help-block">All required.</span>
                </div>
                <div class="col-md-3">
                   <label for="resource_creator_first_name">First name</label>
                   <input type="text" class="form-control" id="resource_creator_first_name" name="resource_creator_first_name" ng-model="formCtrl.formData.resource_creator_first_name" placeholder="John" required>
                   <span class="help-block">&nbsp</span>
                </div>
                <div class="col-md-3">
                   <label for="resource_creator_last_name">Last name</label>
                   <input type="text" class="form-control" id="resource_creator_last_name" name="resource_creator_last_name" ng-model="formCtrl.formData.resource_creator_last_name" placeholder="Smith" required>
                   <span class="help-block">&nbsp</span>
                </div>
                
            </div>
            
            <!-- Metadata creator -->
            <div class="form-group">
                <div class="col-md-6">
                   <label for="metadata_creator_email">Creator of the metadata: email</label>
                   <input type="email" class="form-control ng-pristine ng-invalid" id="metadata_creator_email" name="metadata_creator_email" ng-model="formCtrl.formData.metadata_creator_email" placeholder="john@smith.com" required>
                   <span class="help-block">All required.</span>
                </div>
                <div class="col-md-3">
                   <label for="metadata_creator_first_name">First name</label>
                   <input type="text" class="form-control" id="metadata_creator_first_name" name="metadata_creator_first_name" ng-model="formCtrl.formData.metadata_creator_first_name" placeholder="John" required>
                   <span class="help-block">&nbsp</span>
                </div>
                <div class="col-md-3">
                   <label for="metadata_creator_last_name">Last name</label>
                   <input type="text" class="form-control" id="metadata_creator_last_name" name="metadata_creator_last_name" ng-model="formCtrl.formData.metadata_creator_last_name" placeholder="Smith" required>
                   <span class="help-block">&nbsp</span>
                </div>
            </div>
            
            <!-- Language -->
            <div class="form-group col-md-12">
                <label for="lang" class="control-label">Lanuage of the dataset/project</label>
                <div>
                    <input type="text" class="form-control" id="lang" name="lang" ng-model="formCtrl.formData.lang" placeholder="Default: en">
                    <span class="help-block">Optional. Recommended 2 character-code: "en" for English, "es" for Spanish, "fr" for French... See <a href="http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes" target="_blank">here</a> for a list of codes. </span>
                </div>
            </div>
            
            <!-- Geographic scope -->
            <div class="form-group col-md-12">
                <label for="geographic_scope" class="control-label">Geographic scope</label>
                <div>
                   <input type="text" class="form-control" id="geographic_scope" name="geographic_scope" ng-model="formCtrl.formData.geographic_scope" placeholder="Africa">
                    <span class="help-block">Optional. The geographic extension that is covered by the data set.</span>
                </div>
            </div>
            
            <!-- Temporal scope -->
            <div class="form-group col-md-12">
                <label for="temporal_scope" class="control-label">Temporal scope</label>
                <div>
                   <input type="text" class="form-control" id="temporal_scope" name="temporal_scope" ng-model="formCtrl.formData.temporal_scope" placeholder="Spring 2014">
                    <span class="help-block">Optional. The dates during which the data set was collected.</span>
                </div>
            </div>
            
            <!-- Taxonomic scope -->
            <div class="form-group col-md-12">
                <label for="taxonomic_scope" class="control-label">Taxonomic scope</label>
                <div>
                   <input type="text" class="form-control" id="taxonomic_scope" name="taxonomic_scope" ng-model="formCtrl.formData.taxonomic_scope" placeholder="Mammalia">
                    <span class="help-block">Optional. The taxonomic information about the data set.</span>
                </div>
            </div>
            
            <!-- Keywords -->
            <div class="form-group col-md-12">
                <label for="keywords" class="control-label">Keywords</label>
                <div>
                   <input type="text" class="form-control" id="keywords" name="keywords" ng-model="formCtrl.formData.keywords" placeholder="Africa; Mammals; Spring 2014">
                    <span class="help-block">Optional. A group of relevant keywords describing the data set, separated by semicolon (;).</span>
                </div>
            </div>
            
            <!-- License -->
            <div class="form-group col-md-12">
                <label for="license" class="control-label">License</label>
                <div>
                   <input type="text" class="form-control" id="license" name="license" ng-model="formCtrl.formData.license" placeholder="CC0">
                    <span class="help-block">Optional. The license under which this data set will be published.</span>
                </div>
            </div>
            
            <!-- Additional information -->
            <div class="form-group col-md-12">
                <label for="additional_information" class="control-label">Additional information</label>
                <div>
                    <textarea class="form-control" id="additional_information" name="additional_information" ng-model="formCtrl.formData.additional_information" placeholder=""></textarea>
                    <span class="help-block">Optional. Any extra information that might be of interest.</span>
                </div>
            </div>
            
            <div>
                <label ng-show="metadataForm.$valid" for="submitBtn" class="control-label">That's it, you can submit the form now.</label>
                <label ng-show="metadataForm.$invalid" for="submitBtn" class="control-label">Please, fill at least the required fields before moving on.</label>
                <div>
                    <input class="btn btn-primary" ng-disabled="metadataForm.$invalid" type="submit" id="submitBtn" name="submitBtn" value="Submit">
                </div>
            </div>
        </form>


<!-- INSTRUCTIONS MODAL -->
<div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="instructionsModalLabel">Metadata Form</h4>
      </div>
      <div class="modal-body">
      
      <p>Well done! But we are not there yet... There is one last step before the submission is complete. We need to know a bit more about you and your project, so we can make it more discoverable.</p>
      
      <p>There are a few required fields in this last form, and all of them are marked as "Required". These are:</p>
      
      <ul>
        <li>Public or not? - If you mark this field, people will be able to download a copy of the CSV with your records</li>
        <li>Title - A name for this dataset</li>
        <li>Abstract - A brief overview of the dataset and/or the project it belongs to</li>
        <li>Creator of the dataset - Some information about the person/people who gathered and built the dataset, basically as a means for contact.</li>
        <li>Creator of the metadata - Some information about you, the person who is using this application.</li>
      </ul>
      
      <p>There are other optional fields, basically dealing with dataset discoverability. Feel free to fill as much as you like.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK!</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
