{% extends "base.html" %}
{% block content %}

<h3>Align session headers</h3>
<p>These are the required fields. Please, set each one with one of the column names found in your file.</p>

<form action="" ng-controller="HeaderController as headerCtrl" method="POST" name="headerForm" id="headerForm" ng-submit="headerCtrl.checkFields()" novalidate>

<!-- Scientific Name -->
<div class="form-group" id="scientificNameSelect">
    <label for="scientificName" class="control-label">Scientific Name</label>
    <select class="form-control" ng-model="headerCtrl.headers.scientificName" id="scientificName" name="scientificName">
    {% for header in session['file_headers'] %}
        <option value="{{header}}">{{header}}</option>
    {% endfor %}
    </select>
</div>

<!-- Latitude -->
<div class="form-group" id="latitudeSelect">
    <label for="decimalLatitude" class="control-label">Latitude</label>
    <select class="form-control" ng-model="headerCtrl.headers.decimalLatitude" id="decimalLatitude" name="decimalLatitude">
    {% for header in session['file_headers'] %}
        <option value="{{header}}">{{header}}</option>
    {% endfor %}
    </select>
</div>

<!-- Longitude -->
<div class="form-group" id="longitudeSelect">
    <label for="decimalLongitude" class="control-label">Longitude</label>
    <select class="form-control" ng-model="headerCtrl.headers.decimalLongitude" id="decimalLongitude" name="decimalLongitude">
    {% for header in session['file_headers'] %}
        <option value="{{header}}">{{header}}</option>
    {% endfor %}
    </select>
</div>

<!-- Date -->
<div class="form-group" id="observationDateSelect">
    <label for="eventDate" class="control-label">Observation date</label>
    <select class="form-control" ng-model="headerCtrl.headers.eventDate" id="eventDate" name="eventDate">
    {% for header in session['file_headers'] %}
        <option value="{{header}}">{{header}}</option>
    {% endfor %}
    </select>
</div>

<!-- Collector -->
<div class="form-group" id="collectorSelect">
    <label for="recordedBy" class="control-label">Collector's name</label>
    <select class="form-control" ng-model="headerCtrl.headers.recordedBy" id="recordedBy" name="recordedBy">
    {% for header in session['file_headers'] %}
        <option value="{{header}}">{{header}}</option>
    {% endfor %}
    </select>
</div>

<div class="alert alert-danger" id="warningMessage" ng-show="headerCtrl.warning" >
    {[{ headerCtrl.warning }]}
</div>

<input class="btn btn-primary" type="submit" value="Let's go!">
</form>

{% endblock %}
