{% extends "base.html" %}
{% block content %}
        <form action="/upload" method="POST" name="metadataForm" ng-controller="FormController as formCtrl" novalidate>
            <input type="hidden" name="origin" value="metadata">
            <h3>Well done! But we are not there yet...</h3>
            
            <div>
            Now, before we move on, we need to know a bit more about you and your project.
            </div>
            
            <!-- Publicly available -->
            <div class="form-group">
                <label for="public" class="control-label">Do you want the data set to be publicly available?</label>
                <div>
                    <input type="checkbox" id="public" name="public" ng-model="formCtrl.formData.public" ng-checked="1">
                    <span class="help-block">Required. Mark the checkbox if you want to make the data set available in the public domain.</span>
                </div>
            </div>
            
            <!-- Title -->
            <div class="form-group">
                <label for="title" class="control-label">Title of the project</label>
                <div>
                    <input type="text" class="form-control" id="title" name="title" ng-model="formCtrl.formData.title" placeholder="Mammals of Africa" required>
                    <span class="help-block">Required. Short title for the project.</span>
                </div>
            </div>
            
            <!-- Resource creator -->
            <div class="form-group">
                <label for="resource_creator" class="control-label">Creator of the data set</label>
                <div>
                   <input type="text" class="form-control" id="resource_creator" name="resource_creator" ng-model="formCtrl.formData.resource_creator" placeholder="John Doe" required>
                    <span class="help-block">Required. Who compiled the list of observations?</span>
                </div>
            </div>
            
            <!-- Metadata creator -->
            <div class="form-group">
                <label for="metadata_creator" class="control-label">Creator of the metadata</label>
                <div>
                   <input type="text" class="form-control" id="metadata_creator" name="metadata_creator" ng-model="formCtrl.formData.metadata_creator" placeholder="John Doe" required>
                    <span class="help-block">Required. Who specified the metadata of the dataset (<i>i.e.</i>, who filled this form).</span>
                </div>
            </div>
            
            <!-- Geographic scope -->
            <div class="form-group">
                <label for="geographic_scope" class="control-label">Geographic scope</label>
                <div>
                   <input type="text" class="form-control" id="geographic_scope" name="geographic_scope" ng-model="formCtrl.formData.geographic_scope" placeholder="Africa">
                    <span class="help-block">Optional. The geographic extension that is covered by the data set.</span>
                </div>
            </div>
            
            <!-- Temporal scope -->
            <div class="form-group">
                <label for="temporal_scope" class="control-label">Temporal scope</label>
                <div>
                   <input type="text" class="form-control" id="temporal_scope" name="temporal_scope" ng-model="formCtrl.formData.temporal_scope" placeholder="Spring 2014">
                    <span class="help-block">Optional. The dates during which the data set was collected.</span>
                </div>
            </div>
            
            <!-- Keywords -->
            <div class="form-group">
                <label for="keywords" class="control-label">Keywords</label>
                <div>
                   <input type="text" class="form-control" id="keywords" name="keywords" ng-model="formCtrl.formData.keywords" placeholder="Africa; Mammals; Spring 2014">
                    <span class="help-block">Optional. A group of relevant keywords describing the data set, separated by semicolon (;).</span>
                </div>
            </div>
            
            <!-- Abstract -->
            <div class="form-group">
                <label for="abstract" class="control-label">Abstract of the project</label>
                <div>
                    <textarea class="form-control" id="abstract" name="abstract" ng-model="formCtrl.formData.abstract" placeholder="A list of all mammal observations in..."></textarea>
                    <span class="help-block">Optional. A brief description of the project.</span>
                </div>
            </div>
            
            <!-- License -->
            <div class="form-group">
                <label for="license" class="control-label">License</label>
                <div>
                   <input type="text" class="form-control" id="license" name="license" ng-model="formCtrl.formData.license" placeholder="CC0">
                    <span class="help-block">Optional. The license under which this data set will be published.</span>
                </div>
            </div>
            
            <!-- Additional information -->
            <div class="form-group">
                <label for="additional_information" class="control-label">Additional information</label>
                <div>
                    <textarea class="form-control" id="additional_information" name="additional_information" ng-model="formCtrl.formData.additional_information" placeholder=""></textarea>
                    <span class="help-block">Optional. Any extra information that might be of interest.</span>
                </div>
            </div>
            
            <div>
                <label ng-show="metadataForm.$valid" for="submitBtn" class="control-label">That's it, you can submit the form now.</label>
                <label ng-show="metadataForm.$invalid" for="submitBtn" class="control-label">Please, fill at least the required fields before moving on.</label>
                <div>
                    <input class="btn btn-primary" ng-disabled="metadataForm.$invalid" type="submit" id="submitBtn" name="submitBtn" value="Submit">
                </div>
            </div>
        </form>
{% endblock %}
